@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
* {
    font-family: 'Geologica', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: rgb(39, 37, 37);
    color: white;
}

#logo{
    animation: pulse infinite;
    animation-duration: 2s;
}

header{
    background-color: rgb(48, 160, 160);
    padding: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    margin: 0;
}

#aba1{
    background-color:rgb(77, 160, 70);
}

#aba1 img{
    width: 300px;
}

#users{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}

#users p a {
    color: white;
    text-decoration: none;
}

p img {
    margin: auto;
}

#inicio img{
    width: 100px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.click{
    display: flex;
    align-items: center;
    font-weight: 500;
}

#site{
    text-decoration: none;
    background-color: rgb(48, 160, 160);
    color: white;
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}
#site:hover {
    transform: scale(1.05);
}

nav{
    background-color:#00BFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 1rem;
    margin: 0;
    font-size: 30px;
    border-radius: 0px 0px 10px 10px;
}

.link-abas{
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: white;
    margin: 6px;
    transition: 250ms;
}

.link-abas:hover{
    font-size: 40px;
    transition: 250ms;
}

.abas nav a {
    display: flex;
}

.abas div{
    display: none;
    border: 2px solid rgba(255, 255, 255, 0.3);
    font-size: 30px; 
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

.abas div:target{
    display: block;
}

/* media queries */

@media (max-width: 700px){
    header {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        font-size: 24px;
    }
    .click {
        display: flex;
        justify-content: center;
        margin: 6px 24px 6px;
    }
    #logo {
        display: flex;
        justify-content: flex-start;
        width: 132px;
        height: 112px;
        margin: 16px;
    }
    header h1 a {
        justify-content: center;
    }
    nav {
        flex-direction: column;
        justify-content: center;
    }
    .abas nav a {
        display: flex;
        justify-content: center;
        font-size: 36px;
    }
    #users {
        flex-direction: column;
    }
    #inicio p {
        flex-direction: column;
        font-size: 20px;
    }
    #inicio h2 {
        font-size: 30px;
    }
    #aba1 p {
        font-size: 20px;
    }
    #aba2 h1 {
        font-size: 32px;
    }
    #aba2 p {
        font-size: 20px;
    }
    #aba3 h1 {
        display: flex;
        justify-content: center;
        font-size: 32px;
    }
    #aba3 p {
        display: flex;
        font-size: 20px;
    }
    #aba5 h1 {
        display: flex;
        margin: 1% 7.5% 1%;
        font-size: 32px;
    }
    #aba5 p {
        font-size: 20px;
    }
    #aba4 h1 {
        display: flex;
        justify-content: center;
        font-size: 32px;
    }
    #aba4 p {
        font-size: 20px;
    }
    #site b {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
