body{
    background-color: rgb(39, 37, 37);
    color: white;

}

header{
    background-color: rgb(48, 160, 160);
    padding: 30px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



#aba1{
    gap: 15px;
    background-color:rgb(77, 160, 70) ;
}

#aba1  img{
    width: 300px;
}

#users{ 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
}


#inicio img{
width: 100px;
display: flex;
align-items: center;
}

.click{
    display: flex;
    align-items: center;
    font-weight: 500;
}

#site{
    text-decoration: none;
    background-color: rgb(48, 160, 160);
    border-radius: 5px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#site:hover{
    text-decoration:none;
    color: black;

}

nav{
    background-color:	#00BFFF;
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 0;
    gap: 50px;
    font-size: 30px;
    border-radius: 5px;
}

a{
    text-decoration: none;
    color:white;
    font-family: Arial, Helvetica, sans-serif
}

a:hover{
text-decoration: none;
color: black;
font-size: 40px;
}
 

.abas nav a {
 
 display: inline-block;

}


.abas div{
display: none;
border: 3px solid rgba(177, 166, 166, 0.384);
font-family: Arial, Helvetica, sans-serif;
font-size: 30px; 
border-radius: 20px;
padding: 10px;
margin: 10px;

}

.abas div:target{
    display: block;
}